.banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 31.25rem;
  overflow: hidden;
}

.img-banners {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 24.3rem;
  max-height: 31.8rem;
  height: clamp(24.3rem, 50vh, 31.8rem);

  & .img-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.banner-text {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  & strong {
    font-family: "Nunito";
    font-size: clamp(3rem, 8vw, 6.25rem);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }
  & span {
    font-family: "Nunito";
    font-weight: 300;
    font-size: clamp(3rem, 8vw, 6.25rem);
    line-height: 100%;
    text-transform: uppercase;
  }

  & p {
    font-family: "Nunito";
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.56rem);
    text-transform: uppercase;
    color: #005cff;
  }

  & h2 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 3.75rem);
    text-transform: uppercase;
    color: #005cff;
  }
}

.itens-select2 {
  display: none;
}

/* Media Queries para o banner principal */
@media (max-width: 1200px) {
  .banner {
    min-height: 25rem;
  }

  .banner-text {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }

  .img-banners .img-cadeira {
    left: -10%;
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 10.5rem;
  }

  .banner {
    min-height: 20rem;
  }

  .img-banners {
    min-height: 24.3rem;
  }

  .banner-text {
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    & .text-sale {
      display: flex;
      flex-direction: column;
    }
    & .itens-select {
      display: none;
    }
    & .itens-select2 {
      display: block;
    }
  }
}

@media (max-width: 576px) {
  .img-banners {
    min-height: 24.3rem;

    & .img-background {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .banner-text {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    & .text-sale {
      display: flex;
      flex-direction: column;
    }
    & .itens-select {
      display: none;
    }
    & .itens-select2 {
      display: block;
    }
  }
}
