.banner {
  position: relative;
  text-align: center;
}

.img-banners {
  overflow: hidden;
  position: relative;
  height: 100%;

  .img-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .img-cadeira {
    position: absolute;
    height: 510px;
    width: auto;
    left: 15%;
  }
}

.banner-text {
  position: absolute;
  top: 25%;
  left: 948px;
  gap: 12px;
  & strong {
    font-family: "Nunito";
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }
  & span {
    font-family: "Nunito";
    font-weight: 300;
    font-size: 100px;
    line-height: 100%;
    text-transform: uppercase;
  }

  & p {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #005cff;
  }

  & h2 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #005cff;
  }
}
