* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover-button: #004cd2;
  --button: #005cff;
  --card: #00264e;
  --font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--font-family);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-45 {
  gap: 45px;
}

main {
  padding-top: 10rem;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
  align-items: center;
}
