.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #005cff;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;

  & span {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
  }

  & .coupon {
    font-style: italic;
    margin-left: 4px;
    font-weight: 400;
  }
}

.box-price {
  background-color: #6220c1;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 4px;
  display: inline-block;
}

.navbars {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1rem;
}

.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 78.75rem;
  padding: 0 1rem;
  gap: 1.43rem;
}

.logo-avanti {
  width: 120px;
  height: auto;
}

.input-text-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 37.5rem;
  height: 2.5rem;
  border: 1px solid #dddddd;
  border-radius: 25px;
  padding: 0 1rem;
}

.menu-mobile {
  display: none;
}

.search-bar {
  border: none;
  width: 100%;
  background: transparent;

  &::placeholder {
    font-family: var(--font-family);
    color: #666;
    font-size: 0.875rem;
  }

  &:focus {
    outline: none;
  }
}

.search-input-icon {
  cursor: pointer;
}

.user-login {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  line-height: 14px;
  white-space: nowrap;
}

.content-user {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.banner-text h1 {
  font-size: 48px;
}

.banner-text h2 {
  font-size: 36px;
  color: blue;
}

.releases {
  padding: 40px;
  text-align: center;
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.all-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  cursor: pointer;

  & li {
    list-style-type: none;
  }

  & li:hover {
    color: #005cff;
    font-weight: 600;
  }

  & strong {
    line-height: 22px;
    font-weight: 400;
    font-size: clamp(0.875rem, 2vw, 1rem);
  }
}

.cart-container {
  position: relative;
  cursor: pointer;

  & .cart-count {
    position: absolute;
    background-color: #005cff;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
}

.categories-hover-all {
  cursor: pointer;
  position: relative;
  z-index: 1001;

  &:hover {
    color: #005cff;
    stroke: #005cff;
    & svg {
      stroke: #005cff;
    }
  }
}

.hover-container-nav {
  position: relative;
  overflow: hidden;
  display: none;
  align-items: center;
  width: 78.81rem;
  height: 20.56rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px -1px #0000001a;
  margin-top: 1rem;
}

.hover-content-list {
  position: relative;
  overflow: hidden;
  display: none;
  align-items: center;
  width: 78.81rem;
  height: 20.56rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px -1px #0000001a;
  margin-top: 1rem;
}

.container-rolling {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1.7rem;
  width: 14.6rem;
  height: 20.5rem;
  background: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-rolling::-webkit-scrollbar {
  width: 5px;
}

.container-rolling::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.container-rolling::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 100px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .bars {
    justify-content: start;
    display: grid;
    grid-template-areas:
      "menu logo cart"
      "input input input";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    & .content-user {
      grid-area: cart;
      justify-content: flex-end;
    }
    & .menu-mobile {
      grid-area: menu;
      justify-content: flex-start;
    }

    & .input-text-nav {
      max-width: 100%;
      justify-content: center;
      grid-area: input;
    }

    & .logo-avanti {
      grid-area: logo;
      justify-content: center;
    }
  }
  .container-nav {
    padding: 0 0.5rem;
  }

  .hover-container-nav {
    max-width: 95%;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
  }
  .menu-mobile {
    display: block;
  }

  /* Esconde elementos não necessários em mobile */
  .user-login,
  .all-categories,
  .hover-container-nav {
    display: none;
  }

  /* Ajusta o logo para ficar centralizado */
  .logo-avanti {
    justify-self: center;
  }

  /* Ajusta o carrinho */
  .cart-container {
    justify-self: end;
  }
}

@media (max-width: 992px) {
  .container-nav {
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
  }

  .bars {
    justify-content: start;
    display: grid;
    grid-template-areas:
      "menu logo cart"
      "input input input";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    & .content-user {
      grid-area: cart;
    }
    & .menu-mobile {
      grid-area: menu;
    }

    & .input-text-nav {
      width: 100%;
      grid-area: input;
    }

    & .logo-avanti {
      grid-area: logo;
    }
  }

  .menu-mobile {
    display: block;
  }

  /* Esconde elementos não necessários em mobile */
  .user-login,
  .all-categories,
  .hover-container-nav {
    display: none;
  }

  /* Ajusta o logo para ficar centralizado */
  .logo-avanti {
    justify-self: center;
  }

  /* Ajusta o carrinho */
  .cart-container {
    justify-self: end;
  }
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .text-line {
    margin: 0 10px;
  }

  .container-nav {
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
  }

  .bars {
    justify-content: start;
    display: grid;
    grid-template-areas:
      "menu logo cart"
      "input input input";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    & .content-user {
      grid-area: cart;
    }
    & .menu-mobile {
      grid-area: menu;
    }

    & .input-text-nav {
      grid-area: input;
    }

    & .logo-avanti {
      grid-area: logo;
    }
  }

  .menu-mobile {
    display: block;
  }

  /* Esconde elementos não necessários em mobile */
  .user-login,
  .all-categories,
  .hover-container-nav {
    display: none;
  }

  /* Ajusta o logo para ficar centralizado */
  .logo-avanti {
    justify-self: center;
  }

  /* Ajusta o carrinho */
  .cart-container {
    justify-self: end;
  }
}

@media (max-width: 576px) {
  .container-nav {
    gap: 0.5rem;
  }

  .logo-avanti {
    width: 100px;
  }

  .input-text-nav {
    margin-top: 0.25rem;
  }
}
