.section-2 {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  width: 100%;
  background-color: #dedede;
}

.section-banner2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 73.5rem;
  align-items: center;
}
.icon-localizacao {
  display: flex;
  gap: 1.25rem;

  & span {
    display: flex;
    align-items: center;
    width: 22.5rem;
    height: 7.8rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 5%;
    color: #4f4f4f;
  }
  & svg {
    /* flex: none; */
    width: 5.62rem;
    height: 5.62rem;
  }
}

.txt-banner2 {
  display: flex;
  gap: 3.12rem;

  & h2 {
    font-family: "Nunito", sans-serif;
    font-size: 1.87rem;
    font-weight: 700;
    line-height: 140%;
    color: #4f4f4f;
    text-align: center;
  }
}
